nav, #right {
    background-color: #454545;
    display: inline-block;
    padding: 3px;
}
nav {
    width: 80%;
}
ul {
    margin: 0;
    padding: 0;
}
#right {
    text-align: right;
    color: silver;
    width: 20%;
    padding-right: 5px;
}