

<h1>User List</h1>

<table>
    <tr>
        <td>id</td>
        <td>username</td>
        <td>name</td>
        <td>phone</td>
        <td>email</td>
        <td>isReviewer</td>
        <td>isAdmin</td>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.firstname}} {{user.lastname}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
        <td>{{user.isReviewer}}</td>
        <td>{{user.isAdmin}}</td>
    </tr>
</table>