<app-menu></app-menu>

<h1>User List</h1>
    <header>
        <span> <a routerLink="/users/create">Create</a></span>
        </header>
        <main>
            <table class="table table-sm">
                <thead>

    <tr>
        <th>id</th>
        <th>username</th>
        <th>name</th>
        <th>phone</th>
        <th>email</th>
        <th>isReviewer</th>
        <th>isAdmin</th>
        <th>Actions</th>

    </tr>
</thead>
<tbody>
    <tr *ngFor="let user of user">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.firstname}} {{user.lastname}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
        <td>{{user.isReviewer}}</td>
        <td>{{user.isAdmin}}</td>
        <td>
            <span><a routerLink="/users/detail/{{user.id}}">Detail</a></span>
            <span> | <a routerLink="/users/edit/{{user.id}}">Edit</a></span>
        </td>
    </tr>
</tbody>
</table>
</main>