nav {
    background-color: gray;
}

li {
    display: inline-block;
}
a {
    color: red;
    text-decoration: none;
    padding: 0 10px;
}

a:hover {
    color: gray;
    background-color: rgb(228, 16, 16);
}
